# Informa칞칚o:
* Dados obtidos do site https://sidra.ibge.gov.br/tabela/6579 em 07/09/2025
* o IBGE n칚o publicou a estimativa de 2007
* Estimativas de 2022 e 2023 n칚o foram divulgadas por conta da pandemia.

# Objetivo:
  * Organizar por Codigo do municipio, e por ano.
  * Os dados das colunas num칠ricas se referem a estimativa populacional do IBGE.

In [1]:
import pandas as pd
import io

# 游닄 Extra칞칚o dos Dados~


* Baixando o CSV hospedado no github
* Lendo o arquivo

In [3]:

url = 'https://gist.githubusercontent.com/OliveiraGmo/d31a9cd887092193929189b1c912cc2a/raw/e3178dac89ad09ef04ce8761a8abb7c3e3ac8a84/dados_ibge.csv'

In [4]:

popula칞칚o_rmvp = pd.read_csv(url, sep=',')
popula칞칚o_rmvp.head(5)

,C칩d.Munic칤pio,Municipio,2006,Unnamed: 3,2008,Unnamed: 5,2009,Unnamed: 7,2011,Unnamed: 9,...,2019,Unnamed: 25,2020,Unnamed: 27,2021,Unnamed: 29,2024,Unnamed: 31,2025,Unnamed: 33
MU,3502507,Aparecida (SP),36129,Pessoas,37405,Pessoas,37629,Pessoas,35015,Pessoas,...,36157,Pessoas,36185,Pessoas,36211,Pessoas,33223,Pessoas,33141,Pessoas
MU,3503158,Arape칤 (SP),2857,Pessoas,2587,Pessoas,2582,Pessoas,2484,Pessoas,...,2469,Pessoas,2460,Pessoas,2452,Pessoas,2355,Pessoas,2355,Pessoas
MU,3503505,Areias (SP),3834,Pessoas,3684,Pessoas,3690,Pessoas,3704,Pessoas,...,3886,Pessoas,3896,Pessoas,3906,Pessoas,3625,Pessoas,3617,Pessoas
MU,3504909,Bananal (SP),10185,Pessoas,10727,Pessoas,10822,Pessoas,10263,Pessoas,...,10945,Pessoas,10993,Pessoas,11039,Pessoas,10109,Pessoas,10097,Pessoas
MU,3508504,Ca칞apava (SP),83574,Pessoas,84406,Pessoas,85181,Pessoas,85414,Pessoas,...,94263,Pessoas,95018,Pessoas,95752,Pessoas,99678,Pessoas,100071,Pessoas

In [5]:
popula칞칚o_rmvp.columns

Index(['C칩d.Munic칤pio', 'Municipio', '2006', 'Unnamed: 3', '2008',
       'Unnamed: 5', '2009', 'Unnamed: 7', '2011', 'Unnamed: 9', '2012',
       'Unnamed: 11', '2013', 'Unnamed: 13', '2014', 'Unnamed: 15', '2015',
       'Unnamed: 17', '2016', 'Unnamed: 19', '2017', 'Unnamed: 21', '2018',
       'Unnamed: 23', '2019', 'Unnamed: 25', '2020', 'Unnamed: 27', '2021',
       'Unnamed: 29', '2024', 'Unnamed: 31', '2025', 'Unnamed: 33'],
      dtype='object')

In [6]:
popula칞칚o_rmvp.reset_index(drop=True, inplace=True)

* Visualizando como est치 o dataframe

In [7]:
popula칞칚o_rmvp.head(5)

,C칩d.Munic칤pio,Municipio,2006,Unnamed: 3,2008,Unnamed: 5,2009,Unnamed: 7,2011,Unnamed: 9,...,2019,Unnamed: 25,2020,Unnamed: 27,2021,Unnamed: 29,2024,Unnamed: 31,2025,Unnamed: 33
0,3502507,Aparecida (SP),36129,Pessoas,37405,Pessoas,37629,Pessoas,35015,Pessoas,...,36157,Pessoas,36185,Pessoas,36211,Pessoas,33223,Pessoas,33141,Pessoas
1,3503158,Arape칤 (SP),2857,Pessoas,2587,Pessoas,2582,Pessoas,2484,Pessoas,...,2469,Pessoas,2460,Pessoas,2452,Pessoas,2355,Pessoas,2355,Pessoas
2,3503505,Areias (SP),3834,Pessoas,3684,Pessoas,3690,Pessoas,3704,Pessoas,...,3886,Pessoas,3896,Pessoas,3906,Pessoas,3625,Pessoas,3617,Pessoas
3,3504909,Bananal (SP),10185,Pessoas,10727,Pessoas,10822,Pessoas,10263,Pessoas,...,10945,Pessoas,10993,Pessoas,11039,Pessoas,10109,Pessoas,10097,Pessoas
4,3508504,Ca칞apava (SP),83574,Pessoas,84406,Pessoas,85181,Pessoas,85414,Pessoas,...,94263,Pessoas,95018,Pessoas,95752,Pessoas,99678,Pessoas,100071,Pessoas

* Removendo colunas sem utilidade

In [8]:
popula칞칚o_rmvp.drop(columns=['Unnamed: 3', 'Unnamed: 5','Unnamed: 7','Unnamed: 9','Unnamed: 11','Unnamed: 13',
                             'Unnamed: 15','Unnamed: 17','Unnamed: 19','Unnamed: 21','Unnamed: 23',
                             'Unnamed: 25','Unnamed: 27','Unnamed: 29','Unnamed: 31','Unnamed: 33']
                    ,inplace=True)

In [9]:
popula칞칚o_rmvp.reset_index(drop=True, inplace=True)

* Resetado o index e vizualizando como est칚o os dados

In [10]:
popula칞칚o_rmvp.head(5)

,C칩d.Munic칤pio,Municipio,2006,2008,2009,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2024,2025
0,3502507,Aparecida (SP),36129,37405,37629,35015,35023,36151,36184,36217,36248,36279,36129,36157,36185,36211,33223,33141
1,3503158,Arape칤 (SP),2857,2587,2582,2484,2475,2541,2532,2524,2516,2509,2478,2469,2460,2452,2355,2355
2,3503505,Areias (SP),3834,3684,3690,3704,3711,3839,3849,3859,3869,3879,3876,3886,3896,3906,3625,3617
3,3504909,Bananal (SP),10185,10727,10822,10263,10301,10680,10728,10775,10821,10867,10896,10945,10993,11039,10109,10097
4,3508504,Ca칞apava (SP),83574,84406,85181,85414,86054,89668,90426,91162,91883,92587,93488,94263,95018,95752,99678,100071

* Formatando os nomes da cidades

In [11]:
popula칞칚o_rmvp.replace(r'(SP)', '', inplace=True, regex=True)

In [12]:
popula칞칚o_rmvp.replace(r'\(|\)', '', inplace=True, regex=True)

In [13]:
popula칞칚o_rmvp.head(5)

,C칩d.Munic칤pio,Municipio,2006,2008,2009,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2024,2025
0,3502507,Aparecida,36129,37405,37629,35015,35023,36151,36184,36217,36248,36279,36129,36157,36185,36211,33223,33141
1,3503158,Arape칤,2857,2587,2582,2484,2475,2541,2532,2524,2516,2509,2478,2469,2460,2452,2355,2355
2,3503505,Areias,3834,3684,3690,3704,3711,3839,3849,3859,3869,3879,3876,3886,3896,3906,3625,3617
3,3504909,Bananal,10185,10727,10822,10263,10301,10680,10728,10775,10821,10867,10896,10945,10993,11039,10109,10097
4,3508504,Ca칞apava,83574,84406,85181,85414,86054,89668,90426,91162,91883,92587,93488,94263,95018,95752,99678,100071

* Deixando o codigo do municipio igual ao que est치 no Datasus, para ficar igual nas duas.

In [14]:
popula칞칚o_rmvp['C칩d.Munic칤pio'] = popula칞칚o_rmvp['C칩d.Munic칤pio'].astype(str).str[:-1]
display(popula칞칚o_rmvp.head())

,C칩d.Munic칤pio,Municipio,2006,2008,2009,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2024,2025
0,350250,Aparecida,36129,37405,37629,35015,35023,36151,36184,36217,36248,36279,36129,36157,36185,36211,33223,33141
1,350315,Arape칤,2857,2587,2582,2484,2475,2541,2532,2524,2516,2509,2478,2469,2460,2452,2355,2355
2,350350,Areias,3834,3684,3690,3704,3711,3839,3849,3859,3869,3879,3876,3886,3896,3906,3625,3617
3,350490,Bananal,10185,10727,10822,10263,10301,10680,10728,10775,10821,10867,10896,10945,10993,11039,10109,10097
4,350850,Ca칞apava,83574,84406,85181,85414,86054,89668,90426,91162,91883,92587,93488,94263,95018,95752,99678,100071

* Como n칚o temos dados de 2007 , subtitui pela m칠dia aritm칠tica dos anos de 2006 e 2008.
* Para os anos de 2022 e 2023 repliquei do ano de 2021.

In [15]:
popula칞칚o_rmvp['2007'] = (popula칞칚o_rmvp['2006']+popula칞칚o_rmvp['2008'])//2
popula칞칚o_rmvp['2022'] = popula칞칚o_rmvp['2021']
popula칞칚o_rmvp['2023'] = popula칞칚o_rmvp['2021']

In [16]:
popula칞칚o_rmvp.head(5)

,C칩d.Munic칤pio,Municipio,2006,2008,2009,2011,2012,2013,2014,2015,...,2017,2018,2019,2020,2021,2024,2025,2007,2022,2023
0,350250,Aparecida,36129,37405,37629,35015,35023,36151,36184,36217,...,36279,36129,36157,36185,36211,33223,33141,36767,36211,36211
1,350315,Arape칤,2857,2587,2582,2484,2475,2541,2532,2524,...,2509,2478,2469,2460,2452,2355,2355,2722,2452,2452
2,350350,Areias,3834,3684,3690,3704,3711,3839,3849,3859,...,3879,3876,3886,3896,3906,3625,3617,3759,3906,3906
3,350490,Bananal,10185,10727,10822,10263,10301,10680,10728,10775,...,10867,10896,10945,10993,11039,10109,10097,10456,11039,11039
4,350850,Ca칞apava,83574,84406,85181,85414,86054,89668,90426,91162,...,92587,93488,94263,95018,95752,99678,100071,83990,95752,95752

In [17]:
order = ['C칩d.Munic칤pio', 'Municipio', '2006','2007', '2008', '2009', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024', '2025']
popula칞칚o_rmvp = popula칞칚o_rmvp[order]

* Transformando a tabela em dataframe

In [18]:
popula칞칚o_rmvp = pd.DataFrame(popula칞칚o_rmvp)

* Verificando os tipos de dados

In [19]:
popula칞칚o_rmvp.dtypes

C칩d.Munic칤pio    object
Municipio        object
2006              int64
2007              int64
2008              int64
2009              int64
2011              int64
2012              int64
2013              int64
2014              int64
2015              int64
2016              int64
2017              int64
2018              int64
2019              int64
2020              int64
2021              int64
2022              int64
2023              int64
2024              int64
2025              int64
dtype: object

# Pronto foi uma organiza칞칚o de dados simples que vou utilizar em outro projeto.

In [26]:
popula칞칚o_rmvp.to_csv('../data/popula칞칚o_rmvp.csv', index=False)